/* styles.css */
.register-page {
    background-image: url('../../../images/bg.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
  }
  